################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ADVDataModelEF/DesignTimeBuild/.dtbcache
/.vs/ADVDataModelEF/v15/Server/sqlite3/db.lock
