################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ADVDataModelEF/DesignTimeBuild/.dtbcache
