<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
  <add name="ADV2017Entities" connectionString="metadata=res://*/ADVModel.csdl|res://*/ADVModel.ssdl|res://*/ADVModel.msl;provider=System.Data.SqlClient;provider connection string='data source=shailendrasqldb.database.windows.net;initial catalog=AdventureWorks2017;User ID=shailendra.g;Password=Chotu@143;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" /> 
  <!--<add name="ADV2017Entities" connectionString="Server=tcp:shailendrasqldb.database.windows.net,1433;Initial Catalog=AdventureWorks2017;Persist Security Info=False;User ID=shailendra.g;Password=Chotu@143;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
  <!--<add name="ADV2017Entities" connectionString="metadata=res://*/ADVModel.csdl|res://*/ADVModel.ssdl|res://*/ADVModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SHAILU-PC;initial catalog=AdventureWorks2017;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>